<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="VendaDeVeiculos.Properties.Settings.modelConnectionString"
      connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=model;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="VendaDeVeiculos.Properties.Settings.vendaDeVeiculosConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;E:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VendaDeVeiculos.mdf&quot;;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>